.card {
    display: table;
    border: solid black;
    width: 140px;
    height: 200px;
    text-align: center;
    margin: 10px 20px;
    box-shadow: 0 0 10pz rgba(0, 0, 0, 0.1);
    transition: transform 100ms ease-in-out;
}

.card span {
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
}

.card:hover {
    transform: scale(1.05);
}

div [disabled] {
    pointer-events: none;
    background-color: aliceblue;
}